// ============================================================================
// Modular mIF Pipeline Configuration
// Allows running individual components independently
// ============================================================================

params {
    // ========================================================================
    // WORKFLOW SELECTION
    // ========================================================================
    // Options: full, tissue_masking, autofluorescence, region_extraction,
    //          nuclei_segmentation, channel_segmentation, mask_merging,
    //          wsi_mask_generation

    // ========================================================================
    // GLOBAL SETTINGS
    // ========================================================================
    script_dir = '/mnt/c/users/hug18/documents/mIF_pipeline_sequential'
    save_intermediate = true  // Save intermediate outputs from each step
    
    // ========================================================================
    // INPUT FILES (vary by workflow - see documentation)
    // ========================================================================
    sample_list = '/mnt/c/users/hug18/documents/mIF_test_data/sample_names.txt'
    image_list = '/mnt/c/users/hug18/documents/mIF_test_data/image_paths.txt'
    
    // ========================================================================
    // OUTPUT DIRECTORIES
    // ========================================================================
    tissue_mask_output = '/mnt/c/users/hug18/documents/mIF_wsi_test_results/tissue_masks'
    tissue_mask_metadata = '/mnt/c/users/hug18/documents/mIF_wsi_test_results/tissue_mask_metadata'
    af_param_output = '/mnt/c/users/hug18/documents/mIF_wsi_test_results/af_params'
    roi_output = '/mnt/c/users/hug18/documents/mIF_wsi_test_results/extracted_rois'
    roi_check_output = '/mnt/c/users/hug18/documents/mIF_wsi_test_results/roi_metadata'
    segmentation_output = '/mnt/c/users/hug18/documents/mIF_wsi_test_results/segmentation_results'
    final_output_dir = '/mnt/c/users/hug18/documents/mIF_wsi_test_results/final_wsi_masks'
    
    // ========================================================================
    // TISSUE MASK PARAMETERS
    // ========================================================================
    num_thresholds = 2
    thresh_mode = 'min'
    channel_reduce = 'max'

    // ========================================================================
    // AUTOFLUORESCENCE ESTIMATION PARAMETERS
    // ========================================================================
    apply_af_correction = true
    af_smooth_field = false
    af_write_channel_ims = false
    af_channels_to_correct = '3,6'
    af_tile_size = 4096
    af_channel = 7
    af_sample_method = 'random'
    af_n_samples = 500000
    af_drop_marker_top_p = 99.0
    af_drop_af_top_p = 99.0
    
    // ========================================================================
    // REGION EXTRACTION
    // ========================================================================
    roi_row_size = 1000
    roi_col_size = 1300
    roi_foreground_ratio = 0.05
    region_overlap = 0.20
    
    // ========================================================================
    // NUCLEI SEGMENTATION
    // ========================================================================
    nuclei_gpu=true
    nuclei_diameter = -1
    nuclei_channel_type = 'single_channel'
    nuclei_model_name = 'nuclei'
    // this is the best nuclei models
    nuclei_custom_model = '/mnt/c/users/hug18/documents/mIF_test_data/seg_models_19_047/meln_19_047_dapi_e_100_lr_0_01'
    // for testing the mask merging we will use a weaker model
    // nuclei_custom_model = '/mnt/c/users/hug18/documents/mIF_test_data/seg_models_20_300/panel_2/dapi_e_1000_lr_0_01'
        
    // ========================================================================
    // MARKER CHANNEL SEGMENTATION (optional)
    // ========================================================================
    run_marker_segmentation = false
    marker_diameter = -1
    
    // Define marker configurations as a list of maps
    // Each map contains: marker_name, channel_indices (nuclei_channel, marker_channel), model_path
    // Example with multiple markers:
    marker_configs = [
        [
            marker_name: 'CD68',
            channel_indices: '0,2',
            model_path: '/mnt/c/users/hug18/documents/mIF_test_data/seg_models_20_300/panel_1/dapi_cd68_e_1000_lr_0_01'
        ],
        [
            marker_name: 'CK',
            channel_indices: '0,5',
            model_path: '/mnt/c/users/hug18/documents/mIF_test_data/seg_models_20_300/panel_1/dapi_ck_e_1000_lr_0_01'
        ],
        [
            marker_name: 'PDL1',
            channel_indices: '0,6',  // nuclei channel, CD8 channel
            model_path: '/mnt/c/users/hug18/documents/mIF_test_data/seg_models_20_300/panel_1/dapi_pdl1_e_1000_lr_0_01'
        ],
    ]
    
    // ========================================================================
    // MASK MERGING PARAMETERS (only used if run_marker_segmentation = true)
    // ========================================================================
    merge_method = 'centroid'        // 'centroid' or 'ioq'
    merge_ioq_thresh = 0.5
    merge_exclude_nuclei = false     // If true, exclude nuclei-only masks from merge

    // ========================================================================
    // WSI MASK GENERATION
    // ========================================================================
    overlap_method = 'centroid'
    centroid_radius = 10
    artifact_filter_mode = 'border'    // 'none', 'border', 'morphology', 'both'
    flatness_threshold = 0.85
    min_solidity = 0.80
    min_artifact_area = 20
    border_width = 1
    dilate_final_mask = true
    dilation_size = 3
}

// ============================================================================
// COMPUTE ENVIRONMENT
// ============================================================================

conda.enabled = true

process {
    beforeScript = 'module load gcc/8.2.0 anaconda3/2022.10-python_3.9.13'
    executor = 'slurm'
    queue = 'htc'
    cpus = 1
    memory = '16 GB'
    time = '4h'
    
    withName: GenerateTissueMask {
        conda = '/ix3/yufeihuang/Hugh/conda_envs/alt_if_analysis_env'
        memory = '50 GB'
        time = '2h'
        maxForks = 20
    }

    withName: EstimateAutofluorescence {
        conda = '/ix3/yufeihuang/Hugh/conda_envs/alt_if_analysis_env'
        memory = '60 GB'
        time = '4h'
        maxForks = 10
    }
        
    withName: ExtractRegions {
        conda = '/ix3/yufeihuang/Hugh/conda_envs/new_alt_scimap_env'
        memory = '40 GB'
        time = '5h'
        maxForks = 30
    }
    
    withName: 'SegmentNuclei' {
        conda = '/ix/yufeihuang/Hugh/conda_envs/cellpose'
        memory = '14 GB'
        time = '20h'
        maxForks = 40
    }

    withName: SegmentMarkerChannel {
        conda = '/ix/yufeihuang/Hugh/conda_envs/cellpose'
        memory = '14 GB'
        time = '20h'
        maxForks = 40
    }
    
    withName: MergeSegmentationMasks {
        conda = '/ix3/yufeihuang/Hugh/conda_envs/alt_if_analysis_env'
        memory = '32 GB'
        time = '80h'
        maxForks = 10
    }
        
    withName: GenerateWSIMask {
        conda = '/ix3/yufeihuang/Hugh/conda_envs/alt_if_analysis_env'
        memory = '60 GB'
        time = '12h'
        maxForks = 10
    }
}

// ============================================================================
// EXECUTION PROFILES
// ============================================================================

profiles {
    standard {
    }
    
    local {
        process {
            executor = 'local'
            beforeScript = ''
            
            withName: GenerateTissueMask {
                cpus = 8
                conda = '/home/hughm/anaconda3/envs/cellpose_env'
                memory = '40 GB'
                maxForks = 1
            }
            
            withName: EstimateAutofluorescence {
                cpus = 8
                conda = '/home/hughm/anaconda3/envs/cellpose_env'
                memory = '40 GB'
                maxForks = 1
            }
            
            withName: ExtractRegions {
                cpus = 8
                conda = '/home/hughm/anaconda3/envs/cellpose_env'
                memory = '50 GB'
                maxForks = 2
            }
            
            withName: 'SegmentNuclei' {
                cpus = 8
                conda = '/home/hughm/anaconda3/envs/cellpose_env'
                memory = '32 GB'
                maxForks = 10
            }

            withName: SegmentMarkerChannel {
                cpus = 8
                conda = '/home/hughm/anaconda3/envs/cellpose_env'
                memory = '32 GB'
                maxForks = 2
            }
            
            withName: MergeSegmentationMasks {
                cpus = 8
                conda = '/home/hughm/anaconda3/envs/cellpose_env'
                memory = '32 GB'
                maxForks = 2
                time = '24h'
            }
                        
            withName: GenerateWSIMask {
                cpus = 8
                conda = '/home/hughm/anaconda3/envs/cellpose_env'
                memory = '50 GB'
                maxForks = 2
                time = '4h'
            }
        }
    }
}

